<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PP游戏中心</title>
    <script type="text/javascript" src="/public/js/jquery.v1.7.1.js"></script>
    <script type="text/javascript" src="/public/js/jquery.json.js"></script>
    <script type="text/javascript">
        var uid = "{{account}}";
        var pwd = "{{password}}";

        function vc_register_auto_login(){
            var obj = new Object();
            obj.cmd  = "weblogin";
            obj.uid = uid;
            obj.pwd = pwd;
            var msg = $.toJSON(obj);
            var url = "app://"+msg;			//浏览器捕捉内嵌页动作调用exe
            window.location.href = url;
        }

        $(document).ready(function(){
            vc_register_auto_login();
        });

    </script>
</head>

<body>

<div style="text-align: center;margin-top: 100px;">正在登录中...</div>

</body>
</html>